<div class="container">
  <div class="col-md-7 cText">
      <div class = "aboutTheProject" style = "background-color:rgb(185, 185, 185)">
          <div class = "col-md-1"></div>
          <div class = "col-md-10">
              <h2><b>About the project...</b></h2>
            </div>
          <div class = "col-md-1"></div>
      </div>
      <div class = "updates" style = "background-color: white">
          <div class = "col-md-1"></div>
          <div class = "col-md-10">
              <p>
                  The purpose of this site is to provide the analysts
                  of the 27th Mock Convention of Washington and Lee University
                  a repository of information concerning the Democratic Nominee
                  for the 2020 Election. This is the first time a Mock Convention
                  has had a branch devoted to collecting the relevant data. Seeing
                  as demographic and election data is being publisehd online, it would
                  be novice to bypass such a vast resource of information. Additionally,
                  with the grand number of incubments competing for the nomination,
                  having a site that maintains an up-to-date and accurate pool of data is invaluable.
                </p>
          </div>
          <div class = "col-md-1"></div>
      </div>
  </div>
  <br>
  <div class="col-md-7 cText">
    <div class = "aboutTheProject" style = "background-color:rgb(185, 185, 185)">
        <div class = "col-md-1"></div>
        <div class = "col-md-10">
          <h2><b>Contributors</b></h2>
        </div>
        <div class = "col-md-1"></div>
    </div>
    <div class = "emailList" style = "background-color: white">
        
        <div class = "col-md-1"></div>
        <div class = "col-md-10">
            <p>
              If you wish to contact us directly, please refer to the
              emails below. Or if you have a general request, then please
              fill out the submission box at the bottom of the page. We
              will try and get back to you as soon as possible.
            </p>
        
            <ul>
              <li>Liam McCann</li>
              <li><a href="mailto: mccanw20@mail.wlu.edu">mccanw20@mail.wlu.edu</a></li>
              <li>Abby Nason</li>
              <li><a href="mailto: nasona20@mail.wlu.edu">nasona20@mail.wlu.edu</a></li>
              <li>Jay Roberts</li>
              <li><a href="mailto: robertsi20@mail.wlu.edu">robertsi20@mail.wlu.edu</a></li>
              <li>Alan Liu</li>
              <li><a href="mailto: liur20@mail.wlu.edu">liur20@mail.wlu.edu</a></li>
              <li>Alexander Caines</li>
              <li><a href="mailto: cainesa21@mail.wlu.edu">cainesa21@mail.wlu.edu</a></li>
            </ul>
        </div>
        <div class = "col-md-1"></div>
    </div>
  </div>
</div>
<!--End General Information Section-->

<br />
<br />
<router-outlet></router-outlet>
