<div class = "container" style = "background-color: white">
    <div class = "row">
        <div class = "col-md-4 name">
            <b>Name:</b> {{candidate.firstName}} {{candidate.lastName}}
        </div>
        <div class = "col-md-4 id">
            Candidate ID: {{candidate.candidate_ID}}
        </div>
        <div class = "col-md-4 ages">
            <b>Candidate's current age:</b> {{candidate.age}} 
            Age in 2024: {{candidate.age2024}}
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-1"></div>
        <div class = " col-md-5 race">
            <b>Candidate's race:</b> {{candidate.race}}
        </div>
        <div class = "col-md-5 family">
            <b>Candidate's family members:</b> {{candidate.family}}
        </div>
        <div class = "col-md-1"></div>

    </div>
    <div class = "row">
        <div class = "col-md-4 party">
        <b>Candidate's party:</b> {{candidate.party}}
        </div>
        <div class = "col-md-4 ideology_score">
            <b>Candidate's Ideology Score:</b> {{candidate.ideology_score}}
        </div>
        <div class = "col-md-4 legislation">
            <b>Candidate's proposed legislation:</b> {{candidate.legislation}}
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-4 positions">
            <b>Candidate's previous elected positions:</b> {{candidate.positions}}
        </div>
        <div class = "col-md-4 schooling">
                <b>Candidate's alma mater: </b> {{candidate.schooling}}
        </div>
        <div class = "col-md-4 current_job">
                <b>Candidate's current place of employment:</b> {{candidate.current_job}}
        </div>
    </div>
</div>