/* Style the navbar */
#navbar {
  overflow: hidden;
  background: blue;
  opacity: 1.0;
}

/* Navbar links */

#navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}


#navbar a:hover {
  background-color: #ddd;
}

#navbar a.active {
  color: white;
  opacity: 1.0;
}

/* Page content */
.content {
  padding: 16px;
  opacity: 1.0;

}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1.0;

}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
  opacity: 1.0;

}
