/* You can add global styles to this file, and also import other style files */
.table{
    background-color: white;
    display: block;
    overflow-y: auto;
    width: 250px;
    height: 300px;
    align-content: center;
    text-align: center;
}

.candidateName{
    color: blue;
}
.candidateRow:hover{
    background-color: rgb(209, 207, 207);
}